@import '~antd/dist/antd.css';
.ant-card {
  border-radius: 25px;
}
/** 카드 꼭지점 각도 조절 */
.id {
  box-shadow: 0px 0px 0px gray;
}
.site-page-header {
  background-color: gray;
}
.ant-upload {
  background-color: skyblue;
}
.App {
  text-align: center;
}
.header {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
